<!DOCTYPE html>

<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="Scoutshop, cercetas, oncr, badge, esarfa, livrare la domiciliu, voluntariat, Romania"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Scoutshop ofera articole pentru cercetasi, imbracaminte, esarfe si badge-uri. Avem suveniruri si echipamente de supravietuire. Livrare la domiciliu in toata tara."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <title>Scout Shop</title>
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
        <main id="grid-pagina">
            <section id="galerie-statica">            
                <h2>Galerie</h2>            
                <div id="grid-galerie">  
                    <% 
                        vLuni = ["ianuarie", "februarie", "martie", "aprilie","mai","iunie", "iulie", "august", "septembrie", "octombire", "noiembrie", "decembrie"];
                        var d = new Date();
                        var lunaCurenta = vLuni[d.getMonth()];
                        for(let imag of locals.imagini) {
                            if(imag?.luni?.includes(lunaCurenta)) { %>              
                                <figure>
                                    <picture>
                                        <source srcset="<%= imag.fisier_mediu %>" media="(max-width:1200px)"/>
                                        <img src="<%= imag.fisier %>" alt="cercetasi"/>
                                        
                                    </picture>                
                                    <figcaption><%= imag.descriere%></figcaption>
                                </figure>
                        <% } %>
                    <% } %>
                </div>
            </section>
            <div id="tabel">
                <table id="tab-orar">
                    <thead>
                        <tr>
                            <th>Perioadă</th>
                            <th>Zi</th>
                            <th>Interval dimineata</th>
                            <th>Pauza de masa</th>
                            <th>Interval seară</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">Zile<br/>Lucrătoare</td>
                            <td>Luni</td>
                            <td>10-12</td>
                            <td>12-14</td>
                            <td>14-20</td>
                        </tr>
                        <tr>
                            <td>Marti</td>
                            <td>9-12</td>
                            <td>12-14</td>
                            <td>14-21</td>
                        </tr>
                        <tr>
                            <td>Miercuri</td>
                            <td>9-11</td>
                            <td>11-13</td>
                            <td>14-21</td>
                        </tr>
                        <tr>
                            <td>Joi</td>
                            <td>9-11</td>
                            <td>11-13</td>
                            <td>14-21</td>
                        </tr>
                        <tr>
                            <td>Vineri</td>
                            <td>9-12</td>
                            <td>12-14</td>
                            <td>inchis</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Zile<br/>Weekend</td>
                            <td>Sambata</td>
                            <td>inchis</td>
                            <td>inchis</td>
                            <td>inchis</td>
                        </tr>
                        <tr>
                            <td>Duminica</td>
                            <td>inchis</td>
                            <td>inchis</td>
                            <td>inchis</td>
                        </tr>
                    </tbody>
                    <tfoot><tr><td colspan="6">Magazinul este inchis cu ocazia sarbatorilor.</td></tr></tfoot>
                </table>
            </div>
            <section id="welcome">
            <div id="wrapper">
                <h2 class="bun_venit">Bine ati venit </h2>
                <h2 class="bun_venit" id="reflexie">Bine ati venit</h2>
            </div>
                <%- include("../fragmente/formular-login.ejs", 
                    {
                        utilizator:locals.utilizator,
                        mesajLogin: locals.mesajLogin
                    }) 
                %>
                <%- include("../fragmente/locatie.ejs") %>
                <%- include("../fragmente/ora-server-client.ejs") %>
                <div class = "container-calendar"><%- include("../fragmente/evenimente.ejs") %></div>
                <p>Ip: <%- locals.ip %></p>
                <%-// include("../fragmente/useri-online.ejs") %>
                <br>
                <a href="pagina.html">Alta pagina</a>
                <a href="http://www.google.com">Alta pagina</a>
                <br>
                <img src="./resurse/imagini/ScoutGear.avif" alt="camasa de cercetas"/>
                <figure>
                    <picture>
                        <source srcset="./resurse/imagini/Gear.jpeg" media="(max-width:700px)"/>
                        <source srcset="./resurse/imagini/logo.png" media="(max-width:1200px)"/>
                        <img src="./resurse/imagini/Scout-Shop-Pic.jpeg" alt="logo"/>>
                        
                    </picture>
                <figcaption>Logo</figcaption>
            </figure>
            <p>
                Te așteptăm în showroom pentru a proba/testa produsele noastre. Dacă achiziționezi prin internet și ai nevoie de altă mărime, îți trimitem la schimb exact ce ți se potrivește!
                <math xmlns="http://www.w3.org/1998/Math/MathML">
                <br>
                Promotie!
                <mn>1</mn>
                <mo>+</mo>
                <mn>1</mn>
                <mo>=</mo>
                <mn>1</mn>
</math>
            </p>
            <article>
                    <h4 class="newstitle">Ana își face promisiunea!</h4>
                    <video poster="/resurse/video/Promisiune cercetasi Ana Spioana.mp4" preload="metadata" controls>
                        <source src="/resurse/video/Promisiune cercetasi Ana Spioana.mp4" type="video/mp4">
                        <source src="/resurse/video/Promisiune cercetasi Ana Spioana.mov" type="video/mov">
                        <track src="/resurse/subtitrari/romana.vtt" kind="captions" srclang="ro" label="romana" default/>
                        <track src="/resurse/subtitrari/engleza.vtt" kind="captions" srclang="en" label="english"/>
                        Browserul dvs nu poate afisa videouri. Incercati pe alt browser.
                    </video>
            </article>
            </section>
            <section id="despre">
                <h2>Articole noi</h2>
                <section>
                    <h3>Noi tipuri de camasi</h3>
                    <p>
                        <b>Cercetășia</b> este locul în care ești ascultat, în care nu există idei greșite, 
                        în care imaginația și creativitatea sunt cultivate la fiecare pas. 
                        Aici vei găsi oameni care să te accepte, să te înțeleagă și care să te sprijine. 
                        Vei face parte dintr-un colectiv unic și frumos.</p>
                        <hr>
                        <% for(let prod of locals.prods) { %>
                            <div class="prod card">
                                <figure>
                                    <img src="/resurse/imagini/produse/<%- prod.imagine %>" class="prod card-img" alt="imagine <%- prod.nume %>">
                                </figure>
                                
                                <div class="prod card-body">
                                    <h5 class="prod card-title"><%- prod.nume %></h5>
                                    <p class="prod card-text">
                                        Pret: <span class="genre"><%- prod.pret %></span> |
                                        Grupa varsta: <span class="theme"><%- prod.grupa %></span> 
                                    </p>
                                    <a href="/produs/<%- prod.id %>" class="btn btn-primary">Vezi produsul</a>
                                </div>
                            </div>
                        <% } %>
                </section>
            </section>
            <section id="utilizatori_online">
                <h3>Utilizatori online</h3>
                <p>
                    De atunci și până acum am reușit să elaborăm mai multe astfel de cursuri online, pe care vrem să vi le prezentăm tuturor ca și oportunități de a vă reaminti câteva dintre elementele învățate în stagii.
                    Știm că o parte dintre voi le-ați descoperit deja și ne bucurăm că ați fost proactivi și le-ați parcurs. Ne-ar plăcea foarte mult să știm și cum a fost această experiență.
                </p>
                <p>
                    Cercetășia scoate tot ce este mai bun din membrii organizației sale prin educație 
                    non-formală. Activitățile și jocurile sunt menite să te ajute să te descoperi pe 
                    tine ca persoană: care sunt cele mai importante valori ale tale, care sunt 
                    punctele tale forte și ce poți face cu aceste <ins>abilități</ins>, să îți dai seama ce îți 
                    dorești cu adevărat și cum să obții acel ceva. Vei avea <strong>sprijinul</strong> adulților și al 
                    celorlalți membri pe tot parcursul călătoriei tale și, cel mai important, nu te va 
                    judeca nimeni. Cercetășia este un spațiu sigur pentru a face <s>greșeli</s>. 
                </p>
            </section>

            <section id="stat_date">
                <h3>Date despre utilizator si statistici</h3>
                <p>
                    Cercetaşul este curajos şi încrezător în puterile lui, vioi şi plin de însufleţire.
                    Cercetaşul iubeşte învăţătura şi la rândul său îi învaţă şi pe alţii.
                    Cercetaşul se străduieşte să facă în fiecare zi o faptă bună, oricât de neînsemnată ar părea ea.
                </p>
            </section>
            <div id="calendar">
                <h3>Calendar</h3>
                <p>
                    Ziua mondială a cercetăşiei este marcată la 22 februarie şi reprezintă ziua de naştere a fondatorului Mişcării "Scout" - cercetaşii, Robert Baden-Powell. În acelaşi timp, reflectă activitatea cercetaşilor, specifică culturii şi ţărilor în care aceştia trăiesc. 
                </p>
            </div>
            <section id="anunturi">
                <h3>Anunturi</h3>
                <p>
                    Tocmai ce am schimbat aspectul site-ului. Bun venit noului Scoutshop!
                </p>
            </section>
            <div id="continut">
                <p>
                    Misiunea Cercetăşiei în societatea românească este de a contribui la educarea 
                    tinerilor printr-un sistem de valori bazat pe o Promisiune şi o Lege, de a ajuta la 
                    construirea unei lumi mai bune, în care oamenii sunt împliniţi ca indivizi şi joacă un rol 
                    constructiv în societate.
                </p>
                <details><summary>Informatii aditionale</summary>
                <p>Misiunea noastra este in continua dezvoltare.</p>
                </details>
                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/ZX7NgpK1TLM?si=pXEnNtd_-Wx8NJMo" target="ifr-video">Azi</a>
                        <a href="https://www.youtube.com/embed/D4i0PcWqlVQ?si=c_n-HIbXGDbYLSCJ" target="ifr-video">Maine</a>
                        <a href="https://www.youtube.com/embed/P5P2alXozG4?si=udVQoh1LhoPRlBVN" target="ifr-video">Ieri</a>
                    </div>
                    <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/ZX7NgpK1TLM?si=pXEnNtd_-Wx8NJMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <time datetime="2012-10-18">2012-10-18</time>
                </div>
            </div>
            <div id="watermark">
                <p>Calinov<br>Cosmin</p>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
        <script src="/resurse/js/cards.js"></script>
    </body> 
</html>