<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Scoutshop - home</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <p>Numar produse afisate: <span id="nrprods"></span></p>
        <div id="filter-inputs container-fluid">
            <div class="input-pair form-floating row">
                <textarea name="name-inp" id="name-inp" class="form-control" placeholder="Scrieti numele produsului"></textarea>
                <label for="name-inp" id="name-inp-label">Numele produsului</label>
            </div>
            <div class="row">
                <div class="input-pair col-md">
                    <label for="material-inp">Material:</label>
                    <input type="text" id="material-inp" placeholder="De ex. 'lana'" class="inp-round">
                </div>
                <div class="input-pair col-md">
                    <label for="price-inp">Pret maxim:</label>
                    <input type="range" value="1000" min="0" max="1000" step="50" id="price-inp" class="form-range"> <span id="rangevalue">(1000)</span>
                </div>
                <div class="input-pair col-md">
                    <label for="grupa-inp">Grupa de varsta:</label>
                    <input list="grupa-list" id="grupa-inp" name="grupa-inp" class="inp-round">
                    <datalist id="grupa-list">
                        <% for(let varsta of locals.varste) { %>
                            <option value="<%- varsta.unnest %>"><%- varsta.unnest %></option>
                        <% } %>
                    </datalist>  
                </div>
            </div>
            <div class="row">
                <div class="input-pair col-md">
                    <label for="tip-inp">Tip:</label><br>
                    <div id="tip-inp">
                        <div class="radio-pair">
                            <input type="radio" name="tip-radio" value="all" class="btn-check" id="radio-all" checked>
                            <label for="radio-all" class="btn btn-outline-success">Toate</label>
                        </div>
                        <% for(let t of locals.tip) { %>
                            <div class="radio-pair">
                                <input type="radio" name="tip-radio" value="<%- t.unnest %>" id="<%- t.unnest %>" class="btn-check">
                                <label for="<%- t.unnest %>" class="btn btn-outline-success"><%- t.unnest %></label>
                            </div>
                        <% } %>
                    </div>
                </div> 
                <div class="input-pair col-md">
                    <label for="volum-inp">Volum</label>
                    <select name="volum-inp" id="volum-inp" class="form-select">
                        <option value="all" selected>Toate</option>
                        <option value=">500">peste 500</option>
                        <option value="<500">sub 500</option>
                    </select>
                </div>
            </div>
            <div class="input-pair">
                <label for="greuatet-inp">Greutate:</label>
                <select name="greutate-inp" id="greutate-inp" multiple size="3" class="form-select">
                    <option value="all" selected>Toate</option>
                    <option value="10-100">10-100</option>
                    <option value="100-200">100-200</option>
                    <option value="200-300">200-300</option>
                    <option value=">300">>300</option>
                </select>
            </div>
            <div class="input-pair ">
                <label for="check-new">Produse noi: </label>
                <input type="checkbox" name="check-new" id="check-new">
            </div>
            
            <button id="filterbtn" class="btn btn-primary btn-sm border"><i class="bi bi-funnel"></i> <span>Aplica filtrele</span></button>
            <button id="reset-btn" class="btn btn-danger btn-sm border"><i class="bi bi-arrow-counterclockwise"></i> <span>Reseteaza filtrele</span></button>
            <button id="sort-asc" class="btn btn-success btn-sm border"><i class="bi bi-sort-up"></i> <span>Sorteaza Ascendent</span></button>
            <button id="sort-desc"class="btn btn-success btn-sm border"><i class="bi bi-sort-down-alt"></i> <span>Sorteaza Descendent</span></button>
            <button id="calc-btn" class="btn btn-secondary btn-sm border"><i class="bi bi-cash"></i> <span>Pret total</span></button>
        </div>
        <section id="prods">
            <h2 id="prodh2">Produsele noastre</h2>
            <div class="prods-grid">
                <% for(let prod of locals.produse) { %>
                    <article class="product container" id="artc-<%- prod.id %>">
                        <div>
                            <h3 class="nameval"><%- prod.nume %></h3>
                            <figure class="prodfig">
                                <a href="/produs/<%- prod.id %>"><img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="imagine <%- prod.nume %>"></a>
                            </figure>
                            <p>Pret: <span class="price"><%- prod.pret %></span> RON</p>
                            <p>Descriere: <span class="descriere"><%- prod.descriere %></span></p>
                            <p>Materiale: <span class="material"><%- prod.materiale%></span></p>
                            <% 
                                const weekdaysRO = ["Duminica", "Luni", "Marti", "Miercuri", "Joi", "Vineri", "Sambata"];
                                const monthsRO = ["ianuarie", "februarie", "martie", "aprilie", "mai", "iunie", "iulie", "august", "septembrie", "octombrie", "noiembrie", "decembrie"];

                                let dbDate = new Date(prod.data_adaugare);

                                let dayOfWeek = weekdaysRO[dbDate.getDay()];
                                let dayOfmonth = dbDate.getDate();
                                let month = monthsRO[dbDate.getMonth()];
                                let year = dbDate.getFullYear();

                                let dateFormat = dayOfWeek + ", " + dayOfmonth + " " + month + " " + year;
                            %>
                            <p>Data adaugare: <time class="data_adaugare"><%- dateFormat %></time></p>
                            <p>Personalizabil: 
                                <% if(prod.personalizabil) { %>
                                    <span class="ext"> DA</span>
                                <% } else { %>
                                    <span class="ext"> NU</span>
                                <% } %>
                            </p>
                            <label class="select-cart">
                                Adauga in Cos:<br/>
                                <input type="checkbox" class="cart-checkbox" value="<%-prod.id %>" autocomplete="off">
                            </label>
                        </div>
                        <div>
                            <p>Greutate: <span class="greutate"><%- prod.greutate %></span></p>
                            <p>Volum: <span class="volum"><%- prod.volum %></span></p>
                            <p>Categorie: <span class="categorie"><%- prod.categorie %></span></p>
                            <p>Grupa: <span class="grupa"><%- prod.grupa %></span></p>
                            <p class="desc"><%- prod.descriere %></p>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>